.search-header {
  grid-column: 3 / span 3;
}

.filter-header {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

.sorting-header {
  grid-column: 5 / span 2;
  grid-row: 2 / span 1;
}

.filter-box select {
  outline: none;
  transition: 0.2s all ease-out 0s;
  cursor: pointer;
  position: relative;
  background-color: rgb(57, 53, 53);
  border: 2px solid var(--second-color);
  border-radius: 5px;
  text-align: start;
  width: 110px;
  height: 30px;
  margin-top: 2.5px;
}

.filter-box select:hover {
  letter-spacing: 0.5px;
  border-color: #b5a9e3;
}

.filter-box select:focus {
  color: rgb(78, 77, 77);
  background-color: rgb(230, 227, 227);
  box-shadow: none;
  border-color: #b5a9e3;
}

.status-select {
  grid-column: 2 / span 1;
  grid-row: 3/ span 1
}

.age-select {
  grid-column: 3 / span 1;
  grid-row: 3/ span 1
}

.education-select {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1
}

.sex-select {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1
}

.filter-box {
  margin: 0;
  padding: 10px 10px;
}

.sort {
  margin: 0;
  display: grid;
  grid-template: repeat(4, 25%) / 20px 80%;
  grid-column: 5 / span 2;
  grid-row: 3 / span 2
}

input[type="radio"] {
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  -webkit-appearance: none;
  transition: all 0.25s ease-out 0s;
  width: 20px;
  height: 20px;
  background-color: rgb(63, 60, 60);
  border-radius: 50%;
  background-size: 100% 100%;
}

input[type="radio"]:hover {
  background-color: #416730;
}

input[type="radio"]:checked:before {
  background-color: var(--corect-color);
  text-align: center;
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  border: 2px solid var(--corect-color);
  margin-top: -8px;
  margin-left: -8px;
  animation: radioAnimation 0.5s ease-in-out 0s 1;
  filter: drop-shadow(0 0 20px var(--corect-color));
}

@keyframes radioAnimation {
  0% {
    filter: none;
    border-color: transparent;
    background-color: transparent;
    border-top-color: var(--corect-color);
    transform: rotate(0deg);
  }

  99% {
    border-color: transparent;
    border-top-color: var(--corect-color);
    background-color: black;
    transform: rotate(360deg);
  }

  100% {
    background-color: var(--corect-color);
  }
}

.search-button.form-button {
  width: 80%;
  cursor: pointer;
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}

.outlineP {
  transition: 0.5s all linear 0s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-row: 5 / span 1;
  grid-column: 3 / span 4;
}

#listDiv {
  overflow: scroll;
  position: relative;
  grid-column: 2 / span 5;
  grid-row: 6 / span 3;
  border: 5px solid gray;
  border-radius: 35px;
  width: 100%;
  height: 100%;
  display: grid;
}

#listDiv::-webkit-scrollbar {
  display: none;
}