@media (max-width: 1000px) {
  #formHeader {
    font-size: x-large;
  }

  #otherSittings {
    font-size: medium;
  }

  #filterDiv p {
    font-size: small;
  }

  #filterDiv select {
    width: 80px;
    font-size: 12px;
  }

  .sorting {
    grid-template: repeat(4, 25%) / 20px 70%;
  }

  .sorting label {
    font-size: small;
  }

  .names,
  .birthday {
    font-size: small;
  }

  .creationTime p,
  .deletiontime p {
    text-align: center;
    font-size: small;
  }

  .creationTime span,
  .deletiontime span {
    font-size: 8.5px;
  }
}

@media(max-width: 880px) {
  .sorting label {
    font-size: 11px;
  }
}

@media (max-width: 800px) {
  * {
    --border-for-gridscreen: 25px;
  }

  .app {
    min-height: 100px;
    grid-template-columns: none;
    /* grid-template-rows: 3fr 5fr; */
  }

  .app .box {
    height: 70vh;
    grid-template: var(--border-for-gridscreen) repeat(2, 2fr) var(--border-for-gridscreen) / var(--border-for-gridscreen) repeat(4, 1fr) var(--border-for-gridscreen);
  }

  .divCreate {
    grid-column: 2 / span 4;
    grid-row: 2 / span 2;
  }

  .app .box:nth-child(2) {
    height: 100vh;
    grid-template: var(--border-for-gridscreen) repeat(3, 2fr) var(--border-for-gridscreen) / var(--border-for-gridscreen) repeat(4, 1fr) var(--border-for-gridscreen);
  }

  #formHeader {
    font-size: large;
  }

  #educationdiv #checkboxInput {
    height: 25px;
    width: 25px;
  }

  #educationdiv label {
    font-size: 18px;
  }

  #sex input {
    height: 25px;
    width: 25px;
  }

  #sex label {
    font-size: 16px;
  }

  .formButton {
    width: 100px;
    height: 30px;
    font-size: medium;
  }

  .sorting label {
    font-size: medium;
  }
}

@media(max-width: 550px) {
  .sorting label {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  * {
    --border-for-gridscreen: 12.5px;
  }

  #educationdiv label {
    font-size: 14px;
  }

  #otherSittings {
    font-size: small;
  }

  .formButton {
    width: 80px;
    font-size: small;
  }

  #filterDiv select {
    width: 60px;
    font-size: 8px;
  }

  .sorting label {
    font-size: 11px;
  }
}

@media (max-width:350px) {
  #filterDiv select {
    width: 40px;
    font-size: 8px;
  }

  .sorting label {
    font-size: 9px;
  }
}