/* Elements of first grid #name */
.formHeader {
  grid-column: 2/ span 2;
}

.text-input {
  background-color: var(--background-color);
  border: 5px solid #5B33FF;
  transition: 0.5s all ease-in 0s;
  border-radius: 20px;
  text-align: center;
  position: relative;
  outline: none;
  width: 70%;
  height: 50px;
  grid-column: 2/ span 2;
}

.text-input:focus {
  filter: drop-shadow(0 0 15px #53FF02);
  width: 80%;
  border-color: #53FF02;
}

.text-input::-webkit-input-placeholder {
  text-align: center;
  color: white;
}


.other-sittings {
  grid-column: 1 / span 2;
  grid-row: 5 / span 1;
}

.education-box {
  display: flex;
  align-items: center;
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;
}

.education-checkbox {
  outline: none;
  cursor: pointer;
  margin: 10px;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  background-color: #FF5733;
  background-size: 100% 100%;
  background-image: url(./Image/x-mark.png);
  filter: drop-shadow(0px 0px 15px #FF5733);
  border-radius: 20px;
  transition: all 1s ease-out 0s;
}

.education-checkbox:checked {
  border: none;
  background-size: 100% 100%;
  background-color: #53FF02;
  background-image: url(./Image/checked.png);
  filter: drop-shadow(0px 0px 15px #53FF02);
}

.education-checkbox+label {
  font-size: 20px;
}

.gender-box {
  display: grid;
  grid-column: 3 / span 1;
  grid-row: 6 / span 1;
  grid-template: 40px 40px / 40px minmax(40px, 100px);
}

.gender-box input {
  outline: none;
  transition: all 0.25s ease-out 0s;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: azure;
  border-radius: 50%;
  background-size: 100% 100%;
  background-image: url(./Image/x-mark.png);
  background-color: #FF5733;
  filter: drop-shadow(0 0 15px #FF5733);
}

.gender-box input:not(:checked) {
  cursor: pointer;
}

.gender-box input:checked {
  background-size: 100% 100%;
  background-image: url(./Image/checked.png);
  background-color: #53FF02;
  filter: drop-shadow(0 0 15px #53FF02);
}

.gender-box label {
  justify-self: start;
  align-self: center;
  margin: unset;
  font-size: 20px;
}

.form-button {
  transition: 0.3s all ease-out 0s;
  position: relative;
  font-size: large;
  height: 35px;
  width: 55%;
  cursor: pointer;
  color: white;
  background-color: var(--background-color);
  border: 5px solid #5B33FF;
  border-radius: 20px;
  box-shadow: 0 5px 0 gray;
  filter: drop-shadow(0 0 7px #5B33FF);
}

.form-button:hover {
  top: 3px;
  box-shadow: 0 2px 0 gray;
}

.form-button:focus {
  box-shadow: none;
  border-color: #53FF02;
  filter: drop-shadow(0 0 7px #53FF02);
}

.button-input {
  grid-column: 1 / span 2;
  grid-row: 7 / span 1;
}

.reset-input {
  grid-column: 3 / span 2;
  grid-row: 7 / span 1;
}