* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --background-color: rgba(0, 0, 0, 0.9);
  --background-color-for-first-form: rgba(0, 0, 0, 0.86);
  --border-for-gridscreen: 35px;
}

body::-webkit-scrollbar {
  display: none;
}

.app {
  overflow: hidden;
  display: grid;
  grid-template-columns: 3fr 4fr;
}

.app .box {
  position: relative;
  display: grid;
  grid-template: var(--border-for-gridscreen) repeat(3, 2fr) var(--border-for-gridscreen) / var(--border-for-gridscreen) repeat(3, 1fr) var(--border-for-gridscreen);
  background-color: var(--background-color-for-first-form);
  height: 100vh;
}

.app .box:nth-child(2) {
  background-color: var(--background-color-for-first-form);
  display: grid;
  grid-template: var(--border-for-gridscreen) repeat(3, 2fr) var(--border-for-gridscreen) / var(--border-for-gridscreen) repeat(4, 1fr) var(--border-for-gridscreen);
}

.formStyle {
  background-color: var(--background-color);
  display: grid;
}

/* First grid  */
.divCreate {
  transition: 0.5s all ease-in 0s;
  position: relative;
  width: 100%;
  border-radius: 20px;
  grid-column: 2 / span 3;
  grid-row: 2 / span 3;
  grid-template: repeat(8, 1fr) / 10% repeat(2, 40%) 10%;
}

.formStyle * {
  color: white;
  margin: auto;
}

#formHeader {
  font-size: xx-large;
}

#otherSittings {
  font-size: x-large;
}

.divSearch {
  position: relative;
  border-radius: 20px;
  width: 100%;
  grid-column: 2 / span 4;
  grid-row: 2 / span 3;
  grid-template: repeat(8, 1fr) 5% / 5% repeat(5, 1fr) 5%;
}