@media (max-width: 1000px) {
  h3 {
    font-size: x-large;
  }

  h4 {
    font-size: medium;
  }

  .filter-box label {
    font-size: small;
  }

  .filter-box select {
    width: 80px;
    font-size: 12px;
  }

  .sort {
    grid-template: repeat(4, 25%) / 20px 70%;
  }

  .sort label {
    font-size: small;
  }

  .names,
  .birthday {
    font-size: medium;
  }

  .creationTime p,
  .deletionTime p {
    text-align: center;
    font-size: small;
  }

  .creationTime span,
  .deletionTime span {
    font-size: 8.5px;
  }

  .message {
    padding: 10px;
    font-size: 18px;
    width: 295px;
    height: 145px;
  }
}

@media(max-width: 880px) {
  .sort label {
    font-size: 11px;
  }

  .names,
  .birthday {
    font-size: small;
  }
}

@media (max-width: 800px) {
  * {
    --border-for-gridscreen: 25px;
  }

  .app {
    min-height: 100px;
    grid-template-columns: none;
    /* grid-template-rows: 3fr 5fr; */
  }

  .app .box {
    height: 70vh;
    grid-template: var(--border-for-gridscreen) repeat(2, 2fr) var(--border-for-gridscreen) / var(--border-for-gridscreen) repeat(4, 1fr) var(--border-for-gridscreen);
  }

  .create-box {
    grid-column: 2 / span 4;
    grid-row: 2 / span 2;
  }

  .app .box:nth-child(2) {
    height: 100vh;
    grid-template: var(--border-for-gridscreen) repeat(3, 2fr) var(--border-for-gridscreen) / var(--border-for-gridscreen) repeat(4, 1fr) var(--border-for-gridscreen);
  }

  h3 {
    font-size: large;
  }

  .education-box .education-checkbox {
    height: 25px;
    width: 25px;
  }

  .education-box label {
    font-size: 18px;
  }

  .sex-box label {
    font-size: 16px;
  }

  .form-button {
    width: 100px;
    height: 30px;
    font-size: medium;
  }

  .sort label {
    font-size: medium;
  }

  .names,
  .birthday {
    font-size: large;
  }

  .creationTime p,
  .deletionTime p {
    text-align: center;
    font-size: medium;
  }

  .creationTime span,
  .deletionTime span {
    font-size: 10px;
  }

  /* .birthday {
    grid-column: 4 / span 1;
  } */
}

@media(max-width: 550px) {
  .sort label {
    font-size: 13px;
  }

  .message {
    padding: 7.5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    font-size: 14px;
    width: 215px;
    height: 95px;
  }

  .message img {
    height: 20px;
    width: 20px;
  }

  .message::before {
    border: 10px solid transparent;
    border-right: 10px solid var(--first-color);
    left: -25px
  }

  .noMess {
    left: 10px;
  }

  .names,
  .birthday {
    font-size: medium;
  }

  .creationTime p,
  .deletionTime p {
    text-align: center;
    font-size: small;
  }
}

@media(max-width: 500px) {
  .educatedElement::after {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 400px) {
  * {
    --border-for-gridscreen: 12.5px;
  }

  .education-box label {
    font-size: 14px;
  }

  h4 {
    font-size: small;
  }

  .form-button {
    width: 80px;
    font-size: small;
  }

  .filter-box select {
    width: 60px;
    font-size: 8px;
  }

  .sort label {
    font-size: 11px;
  }

}

@media (max-width:350px) {
  .filter-box select {
    width: 40px;
    font-size: 8px;
  }

  .sort label {
    font-size: 9px;
  }
}