/* Elements of first grid #name */
.create-header {
  grid-column: 2/ span 2;
}

.text-input {
  background-color: var(--background-color);
  border: 3px solid var(--second-color);
  transition: 0.5s all ease-in 0s;
  border-radius: 15px;
  text-align: center;
  position: relative;
  outline: none;
  width: 70%;
  height: 50px;
  grid-column: 2/ span 2;
}

.text-input:focus {
  filter: drop-shadow(0 0 5px var(--corect-color));
  width: 80%;
  border-color: var(--corect-color);
}

.text-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.text-input::-webkit-input-placeholder {
  text-align: center;
  color: var(--info-color);
}


.other-sittings {
  grid-column: 2 / span 2;
  grid-row: 5 / span 1;
}

.education-box {
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
}

.input-box {
  display: flex;
  align-items: center;
}

.education-checkbox {
  cursor: pointer;
  margin: 10px;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  background-color: rgb(63, 60, 60);
  background-size: 100% 100%;
  border-radius: 20px;
  transition: all 0.35s ease-out 0s;
}

.education-checkbox:hover {
  background-color: #416730;
}

.education-checkbox:checked {
  border: none;
  background-size: 100% 100%;
  background-color: var(--corect-color);
  background-image: url(../Image/checked.png);
  filter: drop-shadow(0px 0px 10px var(--corect-color));
}


.education-checkbox+label {
  font-size: 20px;
}

.sex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 3 / span 1;
  grid-row: 6 / span 1;
}

.sex-box>div {
  margin: 10px;
  align-self: flex-start;
}


.form-button {
  transition: 0.3s all ease-out 0s;
  position: relative;
  font-size: large;
  height: 35px;
  width: 55%;
  cursor: pointer;
  color: var(--first-color);
  background-color: var(--background-color);
  border: 3px solid var(--second-color);
  border-radius: 10px;
}

.form-button:hover {
  letter-spacing: 1.2px;
  filter: drop-shadow(0 0 7px var(--second-color));
}

.form-button:focus {
  border-color: var(--corect-color);
  filter: drop-shadow(0 0 7px var(--corect-color));
}

.button-input {
  grid-column: 1 / span 2;
  grid-row: 7 / span 1;
}

.reset-input {
  grid-column: 3 / span 2;
  grid-row: 7 / span 1;
}